<footer id="site-footer" class="dark:bg-line-blue-600" role="contentinfo">
  <div class="footer-bg mx-auto grid max-w-6xl">
    <div class="footer-top">
      <div class="row px-12 py-6">
        <div class="grid grid-cols-1 gap-4 lg:grid-cols-7">
          <div class="col-span-2 py-6">
            <h3 class="text-4xl font-bold lg:text-3xl xl:text-4xl">
              PROMPT RECOVERY LTD
            </h3>
            <p class="mt-6 text-lg">
              Rapid Response,<br />
              Reliable Recovery
            </p>
          </div>

          <div class="col-span-3 py-6 lg:justify-self-center">
            <!-- https://stackoverflow.com/questions/23776767/wrapping-long-email-addresses-in-small-boxes -->
            <h3 class="text-4xl font-bold lg:text-3xl xl:text-4xl">
              <a href="mailto:nick@promptrecovery.co.uk"
                >nick@&#8203;promptrecovery&#8203;.co.uk</a
              >
            </h3>
            <p class="mt-6 text-lg">Mon–Fri 06:00–17:00</p>
          </div>

          <div class="col-span-2 py-6 lg:justify-self-end">
            <h3 class="text-4xl font-bold lg:text-3xl xl:text-4xl">
              <a href="tel:07799525650">07799 52 56 50</a>
            </h3>
            <p class="mt-6 text-lg">WhatsApp or Call</p>
          </div>
        </div>
      </div>
      <div class="footer-top-underline"></div>
    </div>

    <div class="justify-self-center">
      <p class="text-company-name-dark-blue-600 mb-1 dark:text-white">
        Copyright © 2025 All rights reserved.
      </p>
      <!-- .footer-copyright -->
    </div>
    <!-- .footer-bottom  -->
  </div>
</footer>
<!-- #site-footer -->
