<section class="bg-vehicle-green-500 dark:bg-logo-light-blue-200 background-overlay">
  <div class="grid grid-cols-3 gap-4 p-8">
    <div class="col-span-3 lg:col-span-2 m-2 justify-self-center text-white dark:text-company-name-dark-blue-500">
      <h3 class="text-4xl lg:text-5xl text-center font-bold">
        Do you need your vehicle recovered?
      </h3>
      <p class="text-2xl text-center">We're here to help!</p>
    </div>
    <div class="col-span-3 lg:col-span-1 m-2 justify-self-center">
      <button
        class="inline-flex items-center gap-2 rounded bg-white px-8 py-3 text-2xl font-semibold text-company-name-dark-blue-500 transition-all hover:shadow-lg hover:shadow-black-500/40 disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
      >
        Call us now on<br />07799 52 56 50
      </button>
    </div>
  </div>
</section>
