<section class="grid py-[80px] bg-logo-light-blue-500 dark:bg-company-name-dark-blue-500 background-overlay-grid-system">
  <div class="grid justify-self-center max-w-[580px] mx-8">
    <h2 class="justify-self-center text-xl text-logo-light-blue-300 dark:text-white font-bold">FAQs</h2>
    <h3 class="justify-self-center center text-5xl text-company-name-dark-blue-600 dark:text-white">Popular questions answered</h3>
    <h4 class="justify-self-center center">We are a well-equipped towing service available to help with towing a car. We provide a fast, affordable, friendly, and reliable car recovery service.</h4>
  </div>
</section>