<section
  class="bg-logo-light-blue-500 dark:bg-company-name-dark-blue-500 background-overlay-grid-system grid py-20"
>
  <div class="mx-auto grid max-w-6xl">
    <div class="mx-8 grid max-w-xl justify-self-center">
      <h2
        class="text-logo-light-blue-300 justify-self-center text-xl font-bold dark:text-white"
      >
        FAQs
      </h2>
      <h3
        class="center text-company-name-dark-blue-600 mb-5 justify-self-center text-5xl dark:text-white"
      >
        Popular questions answered
      </h3>
      <h4 class="center justify-self-center">
        We are a well-equipped towing service available to help with towing a
        car. We provide a fast, affordable, friendly, and reliable car recovery
        service.
      </h4>
    </div>
    <div class="mx-8 grid grid-cols-1 gap-10 pt-10 md:grid-cols-2">
      <div class="text-company-name-dark-blue-500 rounded bg-white px-6 py-8">
        <h3 class="mb-3 text-xl font-bold">Where do you operate?</h3>
        <p class="text-lg">In and around the Watford area.</p>
      </div>
      <div class="text-company-name-dark-blue-500 rounded bg-white px-6 py-8">
        <h3 class="mb-3 text-xl font-bold">What service do you provide?</h3>
        <p class="text-lg">Roadside recovery of vehicles under 4 tonnes.</p>
      </div>
      <!--<div class="text-company-name-dark-blue-500 rounded bg-white px-6 py-8">
        <h3 class="mb-3 text-xl font-bold">Will my wheels look like new?</h3>
        <p class="text-lg">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
      </div>
      <div class="text-company-name-dark-blue-500 rounded bg-white px-6 py-8">
        <h3 class="mb-3 text-xl font-bold">
          How long will I be without my car?
        </h3>
        <p class="text-lg">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
      </div>-->
    </div>
    <div class="mx-8 grid grid-cols-1 gap-10 justify-self-center pt-15">
      <p class="center text-2xl">
        <span>Didn't find the answer to your question?</span>
        <a href="#contact-us" class="underline">Contact us now</a>
      </p>
    </div>
  </div>
</section>
